<!DOCTYPE html>
<html>
	<head>
		<title>Log In</title>
                <link rel="icon" type="image/png" href="icon.png">
		<link rel="stylesheet" type="text/css" href="../css/login.css"/>
                <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
                <script type="text/javascript" src="../js/form.js"></script>
                 <script type="text/javascript" src="../js/resetPsw.js"></script>
        </head>

<body>

	<div class="header">

			<div class="img-control">
				<img src="talent.png"/>
					
			</div>

				<input type="submit" class="create" value="Create Account" onClick="return signupPage();">

		</div>

	<div class="login"><p>Log in to Latent Talent</p><br>
		<input type="text" id="username" placeholder="Email or Phone Number" class="ipt1">
                
		<table>
			<tr>
				<td>
					<br><input type="Password" id="psw" placeholder="Password" class="ipt1">			
				</td>
			</tr>

			<tr>
				<td><input type="submit" class="login-btn2" value="Log In" onClick="return loginCheck();">
					</td>
			</tr>
		</table>
	</div>


</body>
</html>