<!DOCTYPE html>
<html>
	<head>
		<title>Reset Password</title>  
                <link rel="icon" type="image/png" href="icon.png">
		<link rel="stylesheet" type="text/css" href="../css/login.css"/>
                <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
                <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
                <script type="text/javascript" src="../js/jquery.blockUI.js"></script>
                <script type="text/javascript" src="../js/resetPsw.js"></script>
                <script type="text/javascript" src="../js/form.js"></script>
                
	</head>

        <body onload="checkme();">

	<div class="header">

		<div class="control-align1">

			<div class="img-control">
				<img src="talent.png"/>
					
			</div>

				<input type="submit" class="create" value="Create Account" onClick="return signupPage();">
		    </div>

		    <div>
		    	<input type="submit" class="login-btn" value="Log In" onClick="return loginPage();">
		    </div>

	</div>

	<div class="login">
		<div class="login1"><p>Reset Your Password</p></div>
                <br>
		<input type="text" id="psw"placeholder="New password" class="ipt1">

		<table>
			<tr>
				<td>
                                    <input type="text" id="c_psw" placeholder="Confirm Password" class="ipt1">			
				</td>
			</tr>

			<tr>
				<td><input type="submit" id ="rst" class="update" value="Update" onClick="return pswReset();">
					</td>
			</tr>
		</table>
	</div>

</body>
</html>